@media (max-width: 768px)
    .container
        padding: 0 20px
    .adv__descr
        max-width: 200px
    .consultation
        padding: 80px 0 50px 0
        &__title
            font-size: 30px
            margin-bottom: 30px


@media (max-width: 426px)
    .header
        flex-direction: column
        &__logo
            margin-bottom: 10px
        &__official
            margin-bottom: 10px
            span
                display: inline
                font-size: 13px
    .promo
        &__wrapper
            margin-top: 60px
            max-width: 400px
        &__header
            font-size: 30px
        &__subheader
            font-size: 18px
        &__icons
            align-self: center
            min-width: 0px
    .adv
        padding: 45px 0
        .title
            margin-bottom: 40px
        &__items
            flex-direction: column
        &__item-title
            margin-bottom: 20px
        &__descr
            max-width: none
            margin-bottom: 20px
    .consultation
        background-size: auto
        padding: 30px 0
        &__title
            font-size: 25px

@media (max-width: 320px)
    .promo
        .button
            width: 250px
    .consultation
        .feed-form
            width: 250px
            .button
                width: 250px
