@import base/mixins
@import blocks/promo
@import blocks/header
@import blocks/buttons
@import blocks/adv

*
    font-family: 'Museo Sans', sans-serif

.container
    margin: 0 auto
    max-width: 950px



