.consultation
    padding: 100px 0 92px 0
    background: url(../img/bg/section-bg.jpg) center center/ cover no-repeat
    // min-height: 680px
    &__title
        color: #ffffff
        font-size: 36px
        font-weight: 400
        text-transform: uppercase
        margin-bottom: 80px
    &__descr
        color: #ffffff
        font-size: 20px
        font-weight: 500
        max-width: 396px
        margin-bottom: 36px

.feed-form
    display: flex
    flex-direction: column
    width: 300px
    input
        height: 50px
        border-radius: 5px
        background-color: #ffffff
        margin-bottom: 15px
        outline: none
        border: none
        padding: 0 20px
        color: #4b4b4b
        font-size: 14px
        font-weight: 300
        text-align: left
        &:nth-child(3)
            margin-bottom: 20px

    
